/** Stylus Styles */
@import '../../node_modules/vuetify/src/stylus/main'

.lesson-link {
  display: block !important;
  width: 100% !important;
  height: 50px !important;
  padding-top: 10px !important;
}

.lesson-name {
  font-size: 20px !important;
}

.lesson-navigation-links i {
  margin: auto !important;
}

nav {
  position: fixed !important;
  z-index: 100 !important;
}

main {
  padding-top: 55px;
}
